{% include "header.html" %}
<!-- Page Header -->
<header class="masthead" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ url_for('static', filename='img/post-bg.jpg')}}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1 style="color: white;">{{ post.title }}</h1>
          <h2 class="subheading" style="color: white;">{{ post.subtitle }}</h2>
          <span class="meta" >Posted by
            <a href="#" style="color: white;">{{ post.author }}</a>
            on {{ post.date }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          {{ post.body }}
        </p>
      </div>
    </div>
  </div>
</article>

<hr>
{% include "footer.html" %}
